.mask{
  width:100%;
  height:100vh;
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)),url("https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.main-header{
    display:flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width:100%;
    height:70px;
    z-index:10;
    text-align: center;
    background-color: #000;
  }
  .nav-menu{
    display:flex;
  }
  .nav-menu li{
    padding: 5px;
    list-style-type: none;
  }
  .nav-menu a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: cambria;
    font-weight: bold;
  }
  .bars{
    display: none;
  }
  .login_content{
    position: absolute;
    top:60px;
    left:30%;
  }
  .content{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left:50%;
    text-align: center;
    background-color: none;
}
.content h1{
    font-size: 4rem;
    padding: 0.6rem 0 1.5rem;
}
p{
    font-size: 1.4rem;
    font-weight: bolder;
    color: white;
    font-family: cambria;
}
.login_btn{
  width: 75px;
  color: white;
  font-size: 24px;
  font-family: cambria;
  font-weight: bold;
}
  @media screen and (max-width: 1040px ){
    .nav-menu{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vw;
      background-color:#000;
      position: absolute;
      top:0;
      left: -100%;
      z-index:-3;
    }
    .bars{
      display: initial;
      position: absolute;
      top:10px;
      right: 0;
    }
    .nav-menu.active{
      left: 0;
    }
    .nav-menu a{
      color: white;
    }
    .nav-menu li{
      padding:10px
    }
    .btn-light{
      background: transparent;
         border: 1px solid Black;
        color: Black;
        padding: 12px 32px;
        text-align: center;
    }
  }